<% if !@friends.nil? %>
<div class="continer">
<ul class="list-group">
  <p> friend list </p>
  <% @friends.each do |friend| %>
    <li class="list-group-item">
      <%= friend.twitter_id %>
      <%= link_to "delete friend", relationships_path(user: friend), class: "nav-link", method: :delete %>
    </li>
  <% end %>
</ul>
<% end %>